<!DOCTYPE html>
<html>
    <head>
        <title>Light Search Engine</title>
        <link rel="stylesheet" href="/pages/assets/css/results.css">
        <link rel="stylesheet" href="/pages/assets/css/lato.css">
        <link rel="stylesheet" href="/pages/assets/css/raleway.css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <script src="/pages/assets/js/ResultsController.js"></script> 
        <script src="/bower_components/jquery/dist/jquery.min.js"></script> 
    </head>    
    <body>
        <header>
            <h1 class="name">Light Search Engine</h1><small>v0.1</small>
        </header>

        
        
        <section>
            <h4 class="results-title">TESTs:</h4>

          
        </section>    

        <footer style="text-align:center">
            V0.1 - Based on Boolean Model
        </footer>
    </body>

    <script>
        function toggle(element){
            var $element = $(element),
                $content = $($element.find('.content'));

            $content.slideToggle();

        }
    </script>
</html>